<div class="container">
    <div class="omb_login">
        <h3 class="omb_authTitle"><i class="fa fa-user-plus fa-3x"></i></h3>
        <h3 class="omb_authTitle">Regístrate ahora!</h3>
        <div class="row omb_row-sm-offset-3">
            <div class="col-xs-12 col-sm-6">
                <form [formGroup]="form" class="omb_loginForm" (ngSubmit)='register()'>
                    <div class="input-group" [ngClass]="{'invalid': (form.controls.username.errors && form.controls.username.dirty), 'valid': (!form.controls.username.errors) }">
                        <span class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </span>
                        <input type="text" name="username" class="form-control" placeholder="Usuario" formControlName="username" [ngClass]="{'is-invalid': (form.controls.username.errors && form.controls.username.dirty), 'is-valid': (!form.controls.username.errors) }"/>
                    </div>
                    <div>
                        <ul class="help-block">
                            <li *ngIf="form.controls.username.errors?.required && form.controls.username.dirty">Este campo es obligatorio.</li>
                            <li *ngIf="form.controls.username.invalid && form.controls.username.dirty">Minimo: 3 carateres, Maximo: 15</li>
                        </ul>
                    </div>

                    <div class="input-group" [ngClass]="{'invalid': (form.controls.password.errors && form.controls.password.dirty), 'valid': (!form.controls.password.errors) }">
                        <span class="input-group-addon">
                            <i class="fa fa-lock"></i>
                        </span>
                        <input type="password" name="password" class="form-control" placeholder="Contraseña" formControlName="password" [ngClass]="{'is-invalid': (form.controls.password.errors && form.controls.password.dirty), 'is-valid': (!form.controls.password.errors) }"/>
                    </div>
                    <div>
                        <ul class="help-block">
                            <li *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">Este campo es obligatorio.</li>
                            <li *ngIf="form.controls.password.invalid && form.controls.password.dirty">Minimo: 7 carateres, Maximo: 32</li>
                        </ul>
                    </div>

                    <div class="input-group" [ngClass]="{'invalid': (form.controls.email.errors && form.controls.email.dirty), 'valid': (!form.controls.email.errors) }">
                        <span class="input-group-addon">
                            <i class="fa fa-send"></i>
                        </span>
                        <input type="email" name="email" class="form-control" placeholder="Correo" formControlName="email" [ngClass]="{'is-invalid': (form.controls.email.errors && form.controls.email.dirty), 'is-valid': (!form.controls.email.errors) }"/>
                    </div>
                    <div>
                        <ul class="help-block">
                            <li *ngIf="form.controls.email.errors?.required && form.controls.email.dirty">Este campo es obligatorio.</li>
                            <li *ngIf="form.controls.email.invalid && form.controls.email.dirty">Minimo: 5 carateres, Maximo: 32</li>
                            <li *ngIf="form.controls.email.invalid && form.controls.email.dirty">Debe ser una dirección de correo válida.</li>
                        </ul>
                    </div>

                    <div class="input-group" [ngClass]="{'invalid': (form.controls.name.errors && form.controls.name.dirty), 'valid': (!form.controls.name.errors) }">
                        <span class="input-group-addon">
                            <i class="fa fa-info"></i>
                        </span>
                        <input type="text" name="name" class="form-control" placeholder="Nombre Completo" formControlName="name" [ngClass]="{'is-invalid': (form.controls.name.errors && form.controls.name.dirty), 'is-valid': (!form.controls.name.errors) }"/>
                    </div>
                    <div>
                        <ul class="help-block">
                            <li *ngIf="form.controls.name.errors?.required && form.controls.name.dirty">Este campo es obligatorio.</li>
                            <li *ngIf="form.controls.name.invalid && form.controls.name.dirty">Minimo: 5 carateres, Maximo: 32</li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <button [disabled]="!form.valid" class="btn btn-danger btn-lg btn-block" type="submit">Aceptar</button>
                        <p>Al hacer click usted está de acuerdo con nuestras
                            <a href="#">políticas legales</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>