<div class="container">
  <div class="omb_login">
    <h3 class="text-center">
      <i class="fa fa-key fa-3x"></i>
    </h3>
    <h3 class="omb_authTitle">Por favor ingresa tus credenciales.

    </h3>
    <div class="row omb_row-sm-offset-3">
      <div class="col-xs-12 col-sm-6">
        <form [formGroup]='form' class="omb_loginForm" (ngSubmit)="login()">
          <div class="input-group" [ngClass]="{'invalid': (form.controls.username.errors && form.controls.username.dirty), 'valid': (!form.controls.username.errors) }">
            <span class="input-group-addon">
              <i class="fa fa-user"></i>
            </span>
            <input type="text" name="username" class="form-control invalid" placeholder="Usuario" formControlName="username" [ngClass]="{'is-invalid': (form.controls.username.errors && form.controls.username.dirty), 'is-valid': (!form.controls.username.errors) }"
            />
          </div>
          <div>
            <ul class="help-block">
              <li *ngIf="form.controls.username.errors?.required && form.controls.username.dirty">Este campo es obligatorio.</li>
              <li *ngIf="form.controls.username.dirty && form.controls.username.invalid">Minimo: 3 carateres, Maximo: 15</li>
            </ul>
          </div>

          <div class="input-group" [ngClass]="{'invalid': (form.controls.password.errors && form.controls.password.dirty), 'valid': (!form.controls.password.errors) }">
            <span class="input-group-addon">
              <i class="fa fa-lock"></i>
            </span>
            <input type="password" name="password" class="form-control" placeholder="Contraseña" formControlName="password" [ngClass]="{'is-invalid': (form.controls.password.errors && form.controls.password.dirty), 'is-valid': (!form.controls.password.errors) }"/>
          </div>
          <div>
            <ul class="help-block">
              <li *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">Este campo es obligatorio.</li>
              <li *ngIf="form.controls.password.dirty && form.controls.password.invalid">Mínimo: 7 carateres, Máximo: 32</li>
            </ul>
          </div>

          <button [disabled]="!form.valid" class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
        </form>
      </div>
    </div>
    <div class="row omb_row-sm-offset-3">
      <div class="col-xs-12 col-sm-3">
        <label class="checkbox">
          <input type="checkbox" value="remember-me" /> Recordar Contraseña
        </label>
      </div>
      <div class="col-xs-12 col-sm-3">
        <p class="omb_forgotPwd">
          <a routerLink="/pass-recovery">Olvidaste la contraseña?</a>
        </p>
      </div>
    </div>
  </div>
</div>