<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a routerLink="/admin">Inicio</a>
    </li>
    <li class="breadcrumb-item active">Consola de Administración de: </li>
    <li style="margin-left:5px">
        <a class="breadcrum-item" href="admin">albert840702@gmail.com</a>
    </li>
</ol>
<div class="row">
    <div class="col-xl-6 col-sm-6 mb-3">
        <project-info></project-info>
    </div>
    <div class="col-xl-6 col-sm-6 mb-3">
        <errors></errors>
    </div>
    <div class="col-xl-8 col-sm-8 mb-4">
        <chart></chart>
    </div>
</div>