<div class="row">
    <div class="container">
        <div class="col-sm-6 offset-sm-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h3>
                            <i class="fa fa-lock fa-3x"></i>
                        </h3>
                        <h2 class="text-center">Olvidaste la contraseña?</h2>
                        <p>Puedes resetear tu contraseña aquí</p>
                        <div class="panel-body">
                            <form [formGroup]='form' (ngSubmit)="recoveryPass()">
                                <div class="form-group">
                                    <div class="input-group" [ngClass]="{'invalid': (form.controls.email.errors && form.controls.email.dirty), 'valid': (!form.controls.email.errors) }">
                                        <span class="input-group-addon">
                                            <i class="fa fa-send"></i>
                                        </span>
                                        <input type="email" name="email" class="form-control" placeholder="Correo" formControlName="email" />
                                    </div>
                                    <div>
                                        <ul class="help-block text-left text-danger">
                                            <li *ngIf="form.controls.email.errors?.required && form.controls.email.dirty">Este campo es obligatorio.</li>
                                            <li *ngIf="form.controls.email.invalid && form.controls.email.dirty">Minimo: 5 carateres, Maximo: 32</li>
                                            <li *ngIf="form.controls.email.invalid && form.controls.email.dirty">Debe ser una dirección de correo válida.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button [disabled]="!form.valid" class="btn btn-primary btn-lg btn-block" type="submit">Aceptar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>