<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a routerLink="/admin">Inicio</a>
    </li>
    <li class="breadcrumb-item active">Consola de Administración de: </li>
    <li style="margin-left:5px">
        <a class="breadcrum-item" href="admin">albert840702@gmail.com</a>
    </li>
</ol>
<div class="row">
    <div class="col-xl-6 col-sm-6 mb-3">
        <div class="card text-white bg-secondary mb-3">
            <div class="card-header bg-transparent ">
                <span class="fa fa-fw fa-info-circle"></span>
                Información del Proyecto</div>
            <div class="card-body text-white">
                <show-hide-password size="sm" icon="fa fa-key">
                    <span class="card-text">AUTH TOKEN:</span><input readonly type="password" value="aaasfafdagfdagdagad">
                </show-hide-password>
                <p class="card-text">BALANCE:
                    <span class="card-text text-warning">+ $15.50</span>
                </p>
            </div>
            <div class="card-footer bg-transparent">
                <span class="fa fa-fw fa-cog"></span>
                <a style="color:white;text-decoration:underline">Configuración</a>
                <span class="fa fa-fw fa-dollar" style="margin-left:20px"></span>
                <a routerLink='/admin/pagos' style="color:white;text-decoration:underline">Detalles de pago</a>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-sm-6 mb-3">
        <div class="card text-white bg-secondary mb-3">
            <div class="card-header bg-transparent ">
                <span class="fa fa-fw fa-bug"></span>
                Errores y Advertencias</div>
            <div class="card-body bg-transparent">
                <p>Usted no tiene errores ni advertencias.</p>
            </div>
            <div class="card-footer bg-transparent">
                <a class="" style="color:white;text-decoration:underline" href="">Ver el depurador de errores</a>
            </div>
        </div>
    </div>
    <div class="col-xl-8 col-sm-8 mb-4">
        <div class="card text-white bg-secondary mb-3">
            <div class="card-header bg-transparent ">
                <span class="fa fa-fw fa-weixin"></span>
                SMS Programables</div>
            <div class="card-body bg-transparent">
                <div class="jumbotron" style="background-image:url('../assets/chart.png'); min-height: 275px; background-position: left;
                background-size: cover;">
                    <!-- <img class="cover responsive" src="../assets/chart.png"> -->
                </div>

            </div>
            <div class="card-footer bg-transparent">
                <span class="fa fa-fw fa-weixin"></span>
                <a routerLink="/admin/sms" style="color:white;text-decoration:underline">SMS Programables</a>
                <span class="fa fa-fw fa-history" style="margin-left:20px"></span>
                <a href="" style="color:white;text-decoration:underline">Registros</a>
            </div>
        </div>
    </div>
</div>