<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Inicio</a>
    </li>
    <li class="breadcrumb-item active">Consola de Administración de: </li>
    <li style="margin-left:5px">
        <a class="breadcrum-item" href="admin">albert840702@gmail.com</a>
    </li>
</ol>
<div class="card border-secondary mb-3" style="max-width: 35rem;">
    <div class="card-header bg-transparent border-secondary">
        <span class="fa fa-fw fa-info-circle"></span>
        Información del Proyecto</div>
    <div class="card-body text-secondary">
        <p class="card-text">ACCOUNT SID: kamsmdfkdmKKASDE2343RFF3d3e33e33ddddfg</p><br>
        <p class="card-text">AUTH TOKEN: *************************************</p><br>
        <p class="card-text">BALANCE: <span class="card-text text-success">+ $15.50</span></p><br>
        

    </div>
    <div class="card-footer bg-transparent border-secondary">
        <span class="fa fa-fw fa-cog"></span>
        <a>Configuración</a>
        <span class="fa fa-fw fa-dollar" style="margin-left:20px"></span>
        <a>Detalles de pago</a>
    </div>
</div>