/*body {
  padding-top: 20px;
}*/

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 40px;
  border-top: 1px solid #eee;
  //position: relative;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}



